<meta charset="UTF-8">
<title>Notification System</title>

<link rel="stylesheet" href="/styles/jquery-ui.min.css">
<link rel="stylesheet" href="/styles/site.min.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>